<%= form_for @message do |f| %>
	<p><%= f.label "Send to:" %>
	<%= f.text_field :recipient, value: (@message.new_record? ? params[:recipient] : @message.recipient) %></p>
	
	<p><%= f.label :subject %>
	<%= f.text_field :subject %></p>
	
	<p><%= f.label :body %>
	<%= f.text_area :body %></p>

	<%= f.submit %>
<% end %>