<div id="white">
	<div class="container">
	  <div class="col-lg-4 col-lg-offset-4 centered">
			<h1>Inbox</h1><br>
			<%= link_to "Send New Message", new_message_path, class: "btn btn-primary" %>
			<%= link_to "Sent Mail", sent_mail_messages_path, class: "btn btn-primary" %>
		</div> <!-- col lg 4 -->
		<div class="col-lg-12">
		<br><br>
			<div class="row">
				<table class="table table-hover">
				  <thead>
			      <tr>
			        <th>Sender</th>
			        <th>Subject</th>
			        <th>Date</th>
			        <th>Action</th>
			      </tr>
			    </thead>
				  <tbody>
						<% @messages.each do |message| %>
				      <tr>
				        <td><% if message.unread %><b><% end %>
				        <% if message.sender == nil %>
									Admin
								<% else %>
									<%= message.sender.email %>
								<% end %>
							</td>
			        <td><% if message.unread %><b><% end %>
								<%= link_to message.subject, message_path(message) %></td>
			        <td><% if message.unread %><b><% end %>
								<%= message.created_at.to_date %></td>
			        <td><% if message.unread %><b><% end %>

				        <% unless message.sender == nil %>
									<%= link_to "Reply", new_message_path(recipient: message.sender.email, subject: "RE: " + message.subject) %> |
								<% end %> <%= link_to "Delete", message_path(message), method: :delete, data: { confirm: "Are you sure you want to delete this message? " } %>
					    <% if message.unread %></b><% end %>
							</td>
				     </tr>
				 		<% end %>
				  </tbody>
				</table>
			</div> <!-- row -->
		</div><!--col lg 12 -->
	</div> <!-- container -->
</div> <!-- white -->