<div id="white">
	<div class="container">
	  <div class="col-lg-4 col-lg-offset-4 centered">
			<h3>Subject: <%= @message.subject %></h3>
			<h4>Sender:
				<% if @message.sender == nil %>
					Admin
				<% else %>
					<%= @message.sender.email %></h4>
				<% end %>
			<h5>Sent at: <%= @message.created_at %></h5>
			<p><%= @message.body %></p>
			<% unless @message.sender == nil %>
				<%= link_to "Reply", new_message_path(recipient: @message.sender.email) %> |
			<% end %>
			<%= link_to "Delete Message", message_path(@message), method: :delete, data: { confirm: "Are you sure? " } %> |
			<% if received_message? @message %>
				<%= link_to "Back", inbox_messages_path %>
			<% else %>
				<%= link_to "Back", sent_mail_messages_path %>
			<% end %>
		</div>
	</div>
</div>