<div class="container">
	<h3>Subject: <%= @message.subject %></h3>
	<h4>Sender: <%= @message.sender.email %></h4>
	<h5>Sent at: <%= @message.created_at %></h5>
	<p><%= @message.body %></p>
	<%= link_to "Delete Message", message_path(@message), method: :delete, data: { confirm: "Are you sure? " } %> | 
	<% if received_message? @message %>
		<%= link_to "Back", inbox_messages_path %>
	<% else %>
		<%= link_to "Back", sent_mail_messages_path %>
	<% end %>
</div>