<div id="white">
	<div class="container">
    <div class="col-lg-12 centered">
			<h1>Dash</h1>
			<p>Email: <%= @profile.user.email %>
			</br>


			<!-- Cool bar at top of dash thingy -->

			<!-- Earnings to Date -->
			<p>Earnings to Date:
				<% @past_events.each do |event| %>
					$<% @current_earnings += event.space.price %>
				<% end %>
				<%= @current_earnings %>
			</p>

			<!-- Most Popular Space -->
			<p>Most Popular Space: <%= @most_popular_space.name %></p>

			<!-- Upcoming Events -->
			<p>Upcoming Events: <%= @upcoming_events.count %></p>

			<!-- Total Requests -->
			<p>Pending Requests: <%= @profile.user.space_requests.count %> </p>

			<!-- Spaces -->
			<div class="row">
				<div class="col-md-4"><h3>My Spaces</h3></div>
			</div>
			<div class="row">
				<div class="col-md-2">Space:</div>
				<div class="col-md-2">Number of Requests:</div>
			</div>
			<% @spaces.each do |space| %>
				<div class="row">
					<div class="col-md-2"><%= space.name %></div>
					<div class="col-md-2"><%= space.requests.where(status: 0).count %></div>
				</div>
			<% end %>
			<br><br>


			<!-- Events -->
			<div class="row">
				<div class="col-md-4"><h3>My Events</h3></div>
			</div>
			<div class="row">
				<div class="col-md-2">Event:</div>
				<div class="col-md-2">Number of Requests:</div>
			</div>
			<% @events.each do |event| %>
				<div class="row">
					<div class="col-md-2"><%= event.name %></div>
					<div class="col-md-2"><%= event.requests.count %></div>
				</div>
			<% end %>
			<br><br>


			<!-- Requests -->
			<div class="row">
				<div class="col-md-8 col-md-offset-4"><h3>Requests</h3></div>
			</div>
			<div class="row">
				<div class="col-md-2 col-md-offset-4">Requester:</div>
				<div class="col-md-4">Space Requested:</div>
			</div>
			<% @requests.each do |request| %>
				<div class="row">
					<div class="col-md-2 col-md-offset-4"><%= request.event.user.profile.name.capitalize %></div>
					<div class="col-md-4"><%= request.space.name %></div>
					<div class="col-md-2"><%= link_to "View", request_path(request) %></div>
				</div>
			<% end %>
			<div class="row">
					<div class="col-md-2 col-md-offset-4"><%= link_to "See all", requests_path %></div>
			</div>


			<!-- Messages -->
			<div class="row">
				<div class="col-md-8 col-md-offset-4">
					<h3>
						Messages
						<% if @unread > 0 %>
						 (Unread: <%= @unread %>)
						<% end %>
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-md-offset-4">Sender:</div>
				<div class="col-md-4">Subject:</div>
			</div>
			<% @messages.each do |message| %>
				<div class="row">
					<% if message.unread %><b><% end %>
					<div class="col-md-2 col-md-offset-4"><%= message.sender.profile.name.capitalize %></div>
					<div class="col-md-4"><%= message.subject %></div>
					<div class="col-md-2"><%= link_to "View", message_path(message) %></div>
					<% if message.unread %></b><% end %>
				</div>
			<% end %>
			<div class="row">
					<div class="col-md-2 col-md-offset-4"><%= link_to "See all", messages_path %></div>
			</div>

		</div>
	</div>
</div>