<div id="white">
	<div class="container">
    <div class="col-lg-8 col-lg-offset-2 centered">
			<h1>Dash</h1>
			<p>Email: <%= @profile.user.email %></p></br>
			<p>
				<% if @profile.public %>
					Public
				<% else %>
					Private
				<% end %>
				profile</p></br>
			</br>

			<h3>My Spaces</h3>
			<div class="row">
				<div class="col-md-4">Space:</div>
				<div class="col-md-4">Pending Requests:</div>
			</div>
			<% @spaces.each do |space| %>
				<div class="row">
					<div class="col-md-4"><%= space.name %></div>
					<div class="col-md-4">
						<% if space.requests.where(status: 0) == [] %>
							No</div>
						<% else %>
							Yes</div>
							<div class="col-md-4"><%= link_to "View", requests_path %></div>
						<% end %>
				</div>
			<% end %>

			<div class="earning_stats">
				<h4>Space Stats</h4>

			</div>

			<h3>My Events</h3>
			<div class="row">
				<div class="col-md-4">Event:</div>
				<div class="col-md-4">Pending Requests:</div>
			</div>
			<% @events.each do |event| %>
				<div class="row">
					<div class="col-md-4"><%= event.name %></div>
					<div class="col-md-4">
						<% if event.requests.where(status: 0) == [] %>
							No</div>
						<% else %>
							Yes</div>
							<div class="col-md-4"><%= link_to "View", requests_path %></div>
						<% end %>
				</div>
			<% end %>

		</div>
	</div>
</div>