<div id="white">
	<div class="container">
    <div class="col-lg-8 col-lg-offset-2 centered">
			<h1>Hey, I'm <%= @profile.name.capitalize %>!</h1>
			<p>Bio: <%= @profile.bio %></p></br>
			<p>

			<h3>Spaces</h3>
			<div class="row">
				<b>
					<div class="col-md-4">Space:</div>
					<div class="col-md-4">Average Rating:</div>
				</b>
			</div>
			<% @spaces.each do |space| %>
				<div class="row">
					<div class="col-md-4"><%= space.name %></div>
						<% space.reviews.each do |review| %>
							<% @avg_rating += review.rating %>
						<% end %>
					<div class="col-md-4">Average Rating: <%= @avg_rating/space.reviews.count %></div>
					<div class="col-md-4"><%= link_to "View", space_path(space) %></div>
				</div>
			<% end %>

			<h3>Events</h3>
			<div class="row">
				<b>
					<div class="col-md-4">Event:</div>
					<div class="col-md-4">Date:</div>
				</b>
			</div>
			<% @events.each do |event| %>
				<% if event.public %>
					<div class="row">
						<div class="col-md-4"><%= event.name %></div>
						<div class="col-md-4"><%= event.date %></div>
						<div class="col-md-4"><%= link_to "View", event_path(event) %></div>
					</div>
				<% end %>
			<% end %>
			<p><%= link_to "Contact", new_message_path(recipient: @profile.user.email) %> <%= @profile.name.capitalize %></p>

			<!-- panel -->
			 <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="glyphicon glyphicon-wrench pull-right"></i>
                                <h4>Post Request</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form class="form form-vertical">
                                <div class="control-group">
                                    <label>Name</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" placeholder="Enter Name">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label>Message</label>
                                    <div class="controls">
                                        <textarea class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label>Category</label>
                                    <div class="controls">
                                        <select class="form-control">
                                            <option>options</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label></label>
                                    <div class="controls">
                                        <button type="submit" class="btn btn-primary">
                                            Post
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--/panel content-->
                    </div>
                    <!--/panel-->
		</div>
	</div>
</div>