<div id="white">
	<div class="container">
	    <div class="col-lg-4 col-lg-offset-4 centered">
				<h3>Available Spaces</h3>
				<h1><%= @space.name %></h1>
				<p><%= link_to "Edit Space", edit_space_path(@space) %> | 
				<%= link_to "Delete Space", space_path(@space), method: :delete, data: { confirm: "Are you sure?" } %> | 
				<%= link_to "Back", spaces_path %></p>
				<p>Category: <%= @space.category %></p>
				<p>Description: <%= @space.description %></p>
				<p>Location: <%= @space.location %></p>
				<p>Price: <%= @space.price %></p>
				<p>Capacity: <%= @space.capacity %></p>
		</div>
	</div>
</div>