<div id="white">
	<div class="container">
	    <div class="col-lg-4 col-lg-offset-4 centered">
				<h3><%= @space.name %></h3>
				<h5>Space Owner: <%= @space.user.email %></h3>

				<p>	<% if can_crud_space?(@space) %>
					<%= link_to "Edit Space", edit_space_path(@space) %> | 
					<%= link_to "Delete Space", space_path(@space), method: :delete, data: { confirm: "Are you sure?" } %>
					<% end %>
					
				</p>
				<p>Category: <%= @space.category %></p>
				<p>Description: <%= @space.description %></p>
				<p>Location: <%= @space.location %></p>
				<p>Price: <%= @space.price %></p>
				<p>Capacity: <%= @space.capacity %></p>

				<%= link_to "Back", spaces_path %>

				<h3>Reviews</h3>

				<% @space.reviews.each do |review| %>
					<%= review.user.email %>: <%= review.body %>
					<% if review.user == current_user %> 
						| <%= link_to "Delete Review", space_review_path(@space, review), method: :delete, data: { confirm: "Are you sure?" } %>
					<% end %>
					</br>
				<% end %>

				<% if !owns_space?(@space) %>
					<p>Leave a new review: </p>
					<%= render 'reviews/form' %>
				<% end %>
		</div>
	</div>
