<div id="white">
	<div class="container">
    <div class="col-lg-4 col-lg-offset-4 centered">
			<h1><%= @space.name %></h1>
			<h5>Space Owner: <%= @space.user.email %></h5>
			<h5>Request space for: <%= link_to "Existing Event", new_space_request_path(@space) %> or <%= link_to "New Event", new_space_event_path(@space) %></h5>
		</div>
		<div class="col-lg-4 col-lg-offset-4">
			<p> <%= image_tag @space.avatar.url(:medium) %> </p>
			<p>
				<% if can_crud_space?(@space) %>
					<%= link_to "Edit Space", edit_space_path(@space) %> |
					<%= link_to "Delete Space", space_path(@space), method: :delete, data: { confirm: "Are you sure?" } %>
				<% end %>
			</p>
			<p>Category: <%= @space.category %></p>
			<p>Description: <%= @space.description %></p>
			<p>Location: <%= @space.location %></p>
			<p>Price: <%= @space.price %></p>
			<p>Capacity: <%= @space.capacity %></p>
		</div>
		<!-- Calendar -->
		<%= render 'modal' %>

		<!-- Map -->
		<div class="col-lg-8 col-lg-offset-2 centered">
			<div id='map'></div>
			<script>
			L.mapbox.accessToken = 'pk.eyJ1IjoiY3htaSIsImEiOiJiOGVjYjQ1OWQ4ZjliYjUzMDU5YWJkMDJhNjYzZDUwYyJ9.qdfY6hSkrruwSL5v1URWrw';

			var map = L.mapbox.map('map', 'mapbox.streets')
			    .setView([-33.92947, 18.41071], 12); // [latitude, long], zoom value

			var myLocations = L.mapbox.featureLayer()
			          .loadURL('/spaces/<%= escape_javascript params[:id] %>.json')
			          .addTo(map)
			          .bindPopup("<b><%= @space.name %></b><br><%= @space.location %>");
			</script>
		</div>

		<div class="col-lg-4 col-lg-offset-4">
			<%= link_to "Back", spaces_path %>
			<!-- Reviews -->
			<br>
			<h3>Reviews</h3>

				<% @space.reviews.each do |review| %>
					<%= review.user.email %>: <%= review.body %>
					<% if review.user == current_user %>
						| <%= link_to "Delete Review", space_review_path(@space, review), method: :delete, data: { confirm: "Are you sure?" } %>
					<% end %>
					<br>
				<% end %>
				<% if !owns_space?(@space) %>
					<p>Leave a new review: </p>
					<%= render 'reviews/form' %>
				<% end %>
			<br>
			<br>
		</div>
	</div>
</div>
