<div id="white">
	<div class="container">
	    <div class="col-lg-4 col-lg-offset-4 centered">
				<h1>All Events</h1>
				<%= link_to "New Event", new_event_path %></br>

				<h3>My Events</h3>
				<% unless @my_events == [nil] %>
					<% @my_events.each do |event| %>
							<%= event.name %> |
							<%= link_to "Show Event", event_path(event) %></br>
					<% end %>
				<% end %>

				<h3>Public Events</h3>
				<% unless @public_events == [nil] %>
					<% @public_events.each do |event| %>
							<%= event.name %> |
							<%= link_to "Show Event", event_path(event) %></br>
					<% end %>
				<% end %>
		</div>
	</div>
</div>