<div id="white">
	<div class="container">
		<div class="row">
	    <div class="col-lg-4 col-lg-offset-4 centered">
				<h1>All Events</h1><br><%= link_to "My Events", events_myevents_path, class: 'btn btn-primary' %>        &nbsp; &nbsp; &nbsp; 
				<%= link_to "Create A New Event", new_event_path, class: "btn btn-primary" %><br>
			</div>
		</div>
		<br>

		<div class="row mt">
			<% @all_events.each do |event| %>
				<div class="col-lg-4 col-md-4 col-xs-12 desc">
					<%= link_to image_tag(event.photo, :size => "350x239"), event_path(event), class: "b-link-fade b-animate-go" %>
					<p><%= link_to event.name, event_path(event) %> <b><p class="lead"><%=event.user.email %></b></p>
					<p class="lead"><%= truncate(event.description, length: 150, separator: ' ') %></p>
					<hr-d>
				</div><!-- col-lg-4 -->
			<% end %>
		</div>
	</div>
</div>