<div id="white">
	<div class="container">
   	<div class="col-lg-6 col-lg-offset-3 centered">
			<h1><%= @event.name %></h1>
			<h5>Created by <%= @event.user.email %></h3>
			<p class="lead">A <b><%= @event.category %></b> for <b><%= @event.people %></b> people in <b><%= @event.location %></b></p>
			<p><%= image_tag @event.avatar.url(:medium) %></p>
			
			

			<% unless @event.space == nil %>
				<p class="lead">This event has been confirmed for<% if @event.date.present? %>
				<%= @event.date %>
			<% end %> at <%= @event.space.name %></p>
			<% end %>

			<p><%= @event.description %></p>
			
			<% if @event.user == current_user %>
				<p><small>Public (only you can see this):
					<% if @event.public %>
						Yes
					<% else %>
						No</small>
					<% end %>
				</p>
			<% end %>

			<p>
				<% if can_crud_event?(@event) %>
					<%= link_to "Edit Event", edit_event_path(@event) %> |
					<%= link_to "Delete Event", event_path(@event), method: :delete, data: { confirm: "Are you sure?" } %> |
				<% else %>
					<%= link_to "Message Event Creator", new_message_path(recipient: @event.user.email) %> |
				<% end %>
				<%= link_to "Back", events_path %>
			</p>
			
		</div>
	</div>
</div>