<div class="container">
	<h1><%= @event.name %> Page</h1>

	<p>
		<% if can_crud_event?(@event) %>
			<%= link_to "Edit Event", edit_event_path(@event) %> | 
			<%= link_to "Delete Event", event_path(@event), method: :delete, data: { confirm: "Are you sure?" } %> | 
		<% end %>
		<%= link_to "Back", events_path %>
	</p>
	<p>Location: <%= @event.location %></p>
	<p>Number of People: <%= @event.people %></p>
	<p>Category: <%= @event.category %></p>
	<p>Description: <%= @event.description %></p>
	<p>Public: 
		<% if @event.public %>
			Yes
		<% else %>
			No
		<% end %>
	</p>
</div>