<div class="container">
	<h1><%= @event.name %> Page</h1>
	<p>Location: <%= @event.location %></p>
	<p>Number of People: <%= @event.people %></p>
	<p>Category: <%= @event.category %></p>
	<p>Description: <%= @event.description %></p>
	<p>Public: 
		<% if @event.public %>
			Yes
		<% else %>
			No
		<% end %>
	</p>
</div>