<%= form_for ([@space, @request]) do |f| %>

	<% if @request.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

	    <ul>
	    <% @request.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>
	
	<p>
		<%= f.label "Pick the event: " %>
		<%= f.select :event_id, options_for_select(@events.map{ |e| [e.name, e.id] }) %>
	</p>

	<p>
		<%= f.label "Request: " %>
		<%= f.text_area :body %>
	</p>

	<%= f.submit %>

<% end %>