<!DOCTYPE html>
<html>
	<head>
	  <title>VenU</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

		<%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Ruda:400,900,700', :media => "all" %>

		<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
		<script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
		<%= csrf_meta_tags %>
	</head>

	<body>
		<%= render 'layouts/header' %>
		<div id="error"><%= flash[:error] %></div>
		<%= yield %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= render 'layouts/footer' %>
	</body>
</html>
