<!DOCTYPE html>
<html>
<head>
  <title>FinalApp</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
	<script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
</head>
<body>

<%= render 'layouts/header' %>
<div id="error"><%= flash[:error] %></div>

    
<%= yield %>

	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>


<%= render 'layouts/footer' %>

<script type="text/javascript">
    $('.datetimepicker').datetimepicker();
</script>

</body>
</html>
