<!DOCTYPE html>
<html>
<head>
  <title>FinalApp</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
	<%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>
<div id="error"><%= flash[:error] %></div>

    
<%= yield %>


<%= render 'layouts/footer' %>


</body>
</html>
